* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_1078 {
  width: 100%;
  height: 1023px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_1081 {
  width: 100%;
  height: 400px;
  background: rgba(227,227,227,1);
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 99px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
